---
// OrganicCurve.astro
// SVG divider with an organic, wavy look

interface Props {
  position?: 'top' | 'bottom';
  fillColor?: string;
  class?: string;
}

const { position = 'top', fillColor = 'fill-white', class: className = '' } = Astro.props;

const rotation = position === 'top' ? 'rotate-180' : '';
---

<div class:list={["w-full leading-none overflow-hidden", rotation, className]}>
    <svg 
      class:list={[fillColor, "relative block w-full h-[60px] md:h-[120px]"]} 
      viewBox="0 0 1000 100" 
      preserveAspectRatio="none"
    >
        <path d="M0,50 C200,100 400,0 600,50 C800,100 1000,0 1000,50 L1000,100 L0,100 Z"></path>
    </svg>
</div>
